body {
    background-color: #222;
    color: #eee;
    font-family: 'Courier New', Courier, monospace; /* 等幅フォントが必須 */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#game-container {
    text-align: center;
}

#screen {
    background-color: #000;
    border: 2px solid #555;
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 5px; /* 横幅の調整 */
}